<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="commonCss">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />

    <link rel="stylesheet" th:href="@{/ignore/bootstrap-3.3.7/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/ignore/bootstrap-3.3.7/css/bootstrap-theme.min.css}" />
    <link rel="stylesheet" th:href="@{/ignore/css/basic.css}" />
    <link rel="stylesheet" th:href="@{/ignore/css/custom.css}" />
    <link rel="stylesheet" th:href="@{/ignore/css/font-awesome.css}" />
    <link rel="stylesheet" th:href="@{/ignore/css/font-face.css}" />
</head>

</html>